// 导入Bootstrap
@use 'bootstrap/scss/bootstrap';

/**
  * @description 鼠标指针样式类
  */
.cursor-pointer {
  cursor: pointer;
}

/**
  * @description 背景图片居中填充样式类
  */
.bgimg-center-cover {
  background-position: center !important;
  background-size: cover !important;
}
